@model DragRacing_Web.Models.Cars

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Cars</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Car_ID" />
            <div class="form-group">
                <label asp-for="Make_Name" class="control-label"></label>
                <input asp-for="Make_Name" class="form-control" />
                <span asp-validation-for="Make_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model_Name" class="control-label"></label>
                <input asp-for="Model_Name" class="form-control" />
                <span asp-validation-for="Model_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tire_Compound" class="control-label"></label>
                <input asp-for="Tire_Compound" class="form-control" />
                <span asp-validation-for="Tire_Compound" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Engine_ID" class="control-label"></label>
                <select asp-for="Engine_ID" class="form-control" asp-items="ViewBag.Engine_ID"></select>
                <span asp-validation-for="Engine_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
